<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTTP FINAL PROJECT</title>
</head>
<body>
      <mat-toolbar class="tool-bar" color="primary">
        <mat-toolbar-row>
        <div class="animate">
          <h1 class="content">VTTP FINAL PROJECT </h1>
        </div>
          <!-- <span>VTTP FINAL PROJECT</span> -->
          <span class="example-spacer"></span>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="music-icon">library_music</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      
      <!-- <div class="nav-content">
        <mat-toolbar class="toolbar" color="secondary" >
      
          <button mat-icon-button matTooltip="Home" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/user']">
            <mat-icon>home</mat-icon>
          </button>
          <button mat-button [routerLink]="['/user']">Home</button>
          
          <button mat-icon-button matTooltip="Search Artist"class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/artists']">
            <mat-icon>person</mat-icon>
          </button>
          <button mat-button [routerLink]="['/artists']">Search Artist</button>
          
          <button mat-icon-button matTooltip="Search Album" class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/albums']">
            <mat-icon>album</mat-icon>
          </button>
          <button mat-button [routerLink]="['/albums']">Search Album</button>
          
          <button mat-icon-button matTooltip="View my favorites" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/favorite']">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-button [routerLink]="['/favorite']">Favorite</button>
          
          <button mat-icon-button matTooltip="View gallery" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/gallery']">
            <mat-icon>collections</mat-icon>
          </button>
          <button mat-button [routerLink]="['/gallery']">Gallery</button>
          
          <button class="logout-btn" mat-flat-button color="primary" [routerLink]="['/logout']">Logout</button>
      
      
        </mat-toolbar>
      </div> -->


    <router-outlet></router-outlet>

    <mat-toolbar color="primary" class="btm-toolbar">
        
      <mat-toolbar-row>
      <div class="animate2">
        <h1 class="content">FOR DONATIONS</h1>
      </div>
        
        <!-- <span>VTTP FINAL PROJECT</span> -->
        <span class="example-spacer"></span>
        <button mat-icon-button matTooltip="give me money" class="money-icon" aria-label="attach_money" target="_blank" (click)="paypalMe()">
          <mat-icon>attach_money</mat-icon>
        </button>
        <button mat-icon-button matTooltip="gift me money" class="money-icon" aria-label="money" target="_blank" (click)="paypalMe()">
          <mat-icon>money</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

</body>
</html>

